@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-principal:#1e8d8d;
    --color-title:#e8e84e;
    --border:#c07575c2;
}
body {
   
    box-sizing: border-box;
    overflow-x: hidden; /* Evita que aparezca la barra de desplazamiento horizontal */
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--bg-principal);
    color: #fff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    width: 80px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav__a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.nav__a:hover{
    border-bottom: 2px solid var(--color-title);
}
.cta__about{
    text-decoration: none;
    border: 2px solid var(--color-title);
    padding: 15px 20px;
    color:#fff;
    background-color: transparent;
}

.cta__about:hover{
    background-color: var(--color-title);
    color: #000;
}
.burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; /* Agregamos una transición para suavizar la animación */
}



/* Estilos de portada */

.portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "contenido imagen";
    gap: 20px;
    padding: 50px;
    background-image: linear-gradient(180deg, #c07575c2 0%, #7d5581e2 99%, #fac4df52 100%);
    background-size: cover;
    background-position: top;
    height: auto;
    align-items: center;
}

.contenido {
    grid-area: contenido;
}

.contenido__h1{
    font-size: 4.3rem;
    color: var(--color-title);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.contenido__h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contenido__p{
    margin-bottom: 1rem;
}

.contenido__cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: var(--bg-principal);
    padding: 15px 20px;
}


.imagen {
    grid-area: imagen;
}

.imagen__img{
    width: 100%;
}

/* Estilos About*/

.about{
    width: 70%;
    padding: 20px 15px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 4px solid var(--border);
    border-radius: 1rem;
}

.about__img{
    width:300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.about__h1{
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */ 
}

/*Estilos productos*/
.productos__h1{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid var(--border);
}
.productos__article {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.productos__target {
    text-align: center;
}

.productos__img{
    width: 100%;
}

.productos__cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: var(--bg-principal);
    padding: 15px 20px;
    margin-top: 1rem;
}

/* Estilos de contacto */
.contacto{
    width: 90%;
    margin: 4rem auto;

    display: flex;
    gap: 1rem;
}


/* Estilos del pie de página */

.footer{
    background-color: var(--bg-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
}

.footer__a{
    text-decoration: none;
}

.footer__h1{
    font-size: 1rem;
    color: #fff;
}

.footer__img{
    width: 36px;
    margin-top: 10px;
    margin-right: 10px;
}

.footer__social{
    text-align: center;
}

.footer__cta{
    color: #fff;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .portada {
        grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
        grid-template-areas: 
            "contenido"
            "imagen";
        height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
        text-align: center;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 100px;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--bg-principal);
        text-align: center;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out; /* Agregamos una transición para suavizar la animación */
        z-index: 1;
    }

    .nav-links li{
        margin: 2rem;
    }

    .nav-links.show {
        transform: translateX(0);
    }

    .burger-menu {
        display: block;
    }

    .change .line1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .change .line2 {
        opacity: 0;
    }

    .change .line3 {
        transform: rotate(45deg) translate(-8px, -7px);
    }

    .about{
        flex-direction: column;
        align-items: center;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .footer__h1{
        margin-top: 1rem;
        font-size: 1rem;
    }

    .productos__article {
        grid-template-columns: 1fr;
    }

    .contacto{
        flex-direction: column;
        text-align: center;
    }
}
